@{
    ViewData["Title"] = "Home Page";
    //Url.Action()
    //Url.ActionLink()
}
<partial name="_AlertMessage" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
    <li>asp-area="Area"</li>
    <li>asp-action="Action"</li>
    <li>asp-controller="Product"</li>
    <li>asp-route="123"</li>
    <li>asp-route="default"</li>
</ul>
